.Form {
  border: 4px solid black;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.form-header {
  border: 4px solid black;
  height: 4vh;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.form-content {
  border: 4px solid blue;
  width: 100%;
  height: 100%;
}

#submit-form {
  display: none;
}

#submit-form-label {
  border: 4px solid black;
  font-size: x-large;
}

form {
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
  gap: 1em;
}

.form-section {
  border: 4px solid black;
  padding: 1em;
  width: 40vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  gap: 1em;
}

.form-section label {
  border: 2px solid blue;
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: larger;
  width: 100%;
}

input, textarea {
  font-family: 'Courier New', Courier, monospace;
  font-size: larger;
}

.form-date {
  border: 4px solid blue;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
}

.form-date label {
  border: 4px solid green;
}

.form-tech-tags {
  border: 4px solid blue;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.form-tech-input {
  border: 4px solid green;
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-tech-list {
  border: 4px solid green;
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.form-tech-list a {
  border: 4px solid black;
  padding: 4px;
  text-decoration: none;
  font-size: x-large;
}


.form-photos {
  border: 4px solid orange;
  display: flex;
  flex-direction: column;
}

.form-photos-input {
  border: 4px solid green;
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-photos-list {
  border: 4px solid green;
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.form-photo-thumb {
  border: 4px solid black;
  width: 4vw;
  height: 4vw;
}
.form-photo-thumb img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}