.Form {
  border: 4px solid black;
  height: 180vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.form-header {
  border: 4px solid black;
  height: 4vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.form-content {
  border: 4px solid blue;
  width: 100%;
  height: 100%;
}

#submit-form {
  display: none;
}

#submit-form-label {
  border: 4px solid black;
  font-size: x-large;
}

form {
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
  gap: 1em;
}

.form-section {
  border: 4px solid black;
  width: 40vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  gap: 1em;
}

.form-section label {
  border: 4px solid blue;
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: larger;
}

input, textarea {
  font-family: 'Courier New', Courier, monospace;
  font-size: larger;
}

.form-date {
  border: 4px solid blue;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
}

.form-date label {
  border: 4px solid green;
}

.form-tech-input {
  border: 4px solid blue;
  display: flex;
  flex-direction: row;
}

.form-tech-tags {
  border: 4px solid blue;
  display: flex;
  flex-direction: row;
}
